.htaccess

api-data
ChangeLog
clickheat
index.php
license.txt
uploads
wp-activate.php
wp-admin/
wp-app.php
wp-blog-header.php
wp-comments-post.php
wp-config.php

wp-content/uploads
wp-content/plugins/informea/gis/countries.map
wp-content/themes/informea/fix-IE7_min.css
wp-content/themes/informea/fix-IE8_min.css
wp-content/themes/informea/scripts/script_min.js
wp-content/themes/informea/style_min.css

wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-signup.php
wp-trackback.php
wp-settings.php
xmlrpc.php
